/* CSS Custom Properties Example */
@import '../../properties/colors.css';
@import '../../properties/media.css';
@import '../../properties/variables.css';

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.listItem {
	display: block;
	padding: * 1rem 0.75rem *;

	@media screen and (--small) and (--landscape) {
		display: inline-block;
		padding-bottom: 0;
	}
}

.link {
	text-decoration: none;
	color: var(--color-black);
	font-family: var(--font-sans);

	&:hover,
	&:focus {
		color: var(--color-pink);
	}
}

.active {
	color: var(--color-blue);
}